agm-map {
  height: 60%;
  width: 100%;
}

@media screen and (max-width: 992px) {
  agm-map{
    height: 320px;
  }

  #pano {
    height: 202px !important;
    position: sticky !important;
  }
}

#pano {
  width: 100%;
}

#confirmation_new_restau{
  z-index: 200;
  border: solid;
  width: 179px;
  border-radius: 8px;
}

#btn_close_street_view {
  position: relative;
  z-index: 2;
  float:right;
  right: 52px;
  top: 5px;
}


