<form [formGroup]="restauFilter" class="form-inline">
  <div class="form-group">
    <label for="inferior_number">Entre</label>
    <input type="number" id="inferior_number"
           class="form-control" formControlName="inferior_number" min="1" max="5" (input)="onFilterRestau()">
  </div>
  <div class="form-group">
    <label for="superior_number">et</label>
    <input type="number" id="superior_number"
           class="form-control" formControlName="superior_number" min="1" max="5" (input)="onFilterRestau()">
    <fa-icon [icon]="faStar"></fa-icon>
  </div>

</form>
