<footer class="bg-light mt-2">

  <div class="row mr-0">
    <div class="py-3 col-md-4">
      P7 parcours "Développeur d'application Frontend" de
      <a href="https://openclassrooms.com/fr/paths/60-developpeur-dapplication-frontend"> OpenClassrooms</a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright py-3 col-md-4 ml-auto text-center">
      © <a href="https://killianweidner.wordpress.com/">Killian Weidner</a> 2020. Tous droits réservés.
    </div>
    <!-- Copyright -->
    <div class="col-md-4 py-3 text-right">
      Icons made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
        Freepik
      </a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">
        www.flaticon.com
      </a>
    </div>
  </div>

</footer>
