<div class="row bg-info">
  <h4 class="col-4 text-left align-self-center font-weight-bold">
    <fa-icon [icon]="faFilter"></fa-icon>
    Filtrage instantané
  </h4>

  <form [formGroup]="restauFilter" class="form-inline col-8">
    <div class="form-group">
      <label for="inferior_number">Restaurants entre</label>
      <select formControlName="inferior_number" name="inferior_number" id="inferior_number" class="form-control bg-light mr-1 ml-1" (change)="onFilterRestau()">
        <option [ngValue]="1" selected>1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="superior_number">et</label>
      <select formControlName="superior_number" name="superior_number" id="superior_number" class="form-control bg-light mr-1 ml-1" (change)="onFilterRestau()">
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5" selected>5</option>
      </select>
    </div>
    <fa-icon [icon]="faStar"></fa-icon>
  </form>
</div>

