#menu_aide{
  cursor: pointer;
}

nav{
  /*background-color: #a72828eb !important;*/
}

#titre_site {
  font-size: xx-large;
}

.navbar-toggler {
  background-color: #f8f9fa !important;
}

#navbarToggler {
  font-size: x-large;
  margin-top: 28px;
}

.nav-link {
  color:#17a2b8 !important;
}

#logo_titre {
  width: 285px;
}
