<h3>Ajouter un nouvel avis</h3>
<form [formGroup]="ratingForm" (ngSubmit)="onSaveRating()">
  <div class="form-group">
    <label for="stars">Note</label>
    <input type="number" id="stars"
           class="form-control" formControlName="stars" min="1" max="5">
  </div>
  <div class="form-group">
    <label for="comment">Commentaire</label>
    <textarea id="comment"
           class="form-control" formControlName="comment">
    </textarea>
  </div>
  <button class="btn btn-success" [disabled]="ratingForm.invalid"
          type="submit">Enregistrer
  </button>
</form>
