agm-map {
  height: 70%;
}

.agm-map-container-inner{
  margin-left:auto !important;
  margin-right: auto !important;
}

#block_choices {
  height:420px;
}

#block_choice_adresse {
  margin-left: 0.5rem;
}

@media screen and (max-width: 992px) {
  #block_map_choice {
    height: 60%;
  }
  .block_choice {
    background-color: rgba(0,0,0,0) !important;
  }

  #block_choice_adresse {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 575px){
  #block_choice_adresse {
    margin-top: 15%;
  }

  #block_aide {
    margin-top: 15% !important;
  }
}

app-auto-complete {
  width: 100%;
}

