<div id="block_map_restaurants" class="row d-none">
  <div class="col-12 col-sm-12 col-lg-8 col-md-12 col-xl-8">
    <p id="aide_fonctionnalite" class="bg-info font-italic mr-auto ml-auto"> Pour ajouter un restaurant faites un clic droit à l'endroit voulu sur la carte</p>
    <app-restaurant-filter></app-restaurant-filter>
    <app-map-view [restaurants]="restaurants">
    </app-map-view>
  </div>
  <div id="block_liste_restaurants" class="col-12 col-sm-12 col-lg-4 col-md-12 col-xl-4">
    <app-restaurant-list [restaurants]="restaurants">
    </app-restaurant-list>
  </div>
</div>
