<div id="block_principal" class="text-center font-weight-bold p-2 rounded">
  <div class="bg-info text-white mr-auto ml-auto p-2">
    <h3 class="text-uppercase"> Contenu de l'application</h3>
    <div class="ml-auto mr-auto">
      <img src="../../../assets/images/logo-64px.png" alt="Logo site"/>
      <img src="../../../assets/images/logo-restaurant-64px.png" alt="Icone restaurant"/>
    </div>
    <p class="p-2 ml-auto mr-auto">
      Le logo de l'application et le logo utilisé pour les markers de restaurants sur la map ont été réalisés par
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
        Freepik
      </a>
      de
      <a href="https://www.flaticon.com/" title="Flaticon">
        www.flaticon.com
      </a>
    </p>
    <hr>
    <div class="mt-2 mr-auto ml-auto">
      <fa-icon class="pr-2" [icon]="iconAdress" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconHelp" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconMarker" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconPosition" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconEtoile" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconFilter" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconTimes" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconAdd" size="2x"></fa-icon>
      <fa-icon class="pr-2" [icon]="iconFlecheBas" size="2x"></fa-icon>
    </div>
    <p class="p-2 ml-auto mr-auto">
      Les différents icônes présents sur l'application ont été réalisés par
      <a href="https://fontawesome.com/" title="Font Awesome">
        Font Awesome
      </a>.
    </p>
    <hr>
    <div class="mt-2 mr-auto ml-auto">
      <img src="../../../assets/images/city.jpg" width="200" height="100"/>
    </div>
    <p class="p-2 ml-auto mr-auto">
      L'arrière plan de l'application est une image libre de droit proposé par
      <a href="https://pixabay.com/fr/users/pixel2013-2364555/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4298285">S. Hermann &amp; F. Richter</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4298285">Pixabay</a>.
    </p>
    <hr>
    <div class="mt-2 mr-auto ml-auto">
      <img id="logo_google_maps" src="../../../assets/images/logo_google_maps.png"/>
    </div>
    <p class="p-2 ml-auto mr-auto">
      La map est généré grâce à l'API Google Maps.
      <br>
      Les données des restaurants sont générés grâce à l'API Google Places.
    </p>
  </div>
  <div class="bg-light text-info mr-auto ml-auto p-2">
    <h3 class="text-uppercase"> Ajout de restaurants et d'avis</h3>
    <p> Lorsque vous ajoutez un restaurant et ou avis à un restaurant, les informations ne seront pas sauvegardées si vous quittez la page (elles restent juste en mémoire le temps de votre visite). </p>
  </div>
  <div class="bg-info text-white mr-auto ml-auto p-2">
    <h3 class="text-uppercase"> Vos données personnelles</h3>
    <p> L'application RestauAdvisor ne conserve pas vos données de géolocalisation.</p>
  </div>

</div>

